In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('LIA -Instagram - Stadistics - DA.csv')
display(data.shape)
data.head()

(184, 11)

,Date,Daily_followers,Total_followers,Posts_reach,Stories_reach,Impressions,Clicks,Likes,Direct Messages,Positive Comments,Negative Comment
0,01-07-2022,59,6589,4124.0,9596.0,11014.0,485.0,199,8,285.0,87
1,02-07-2022,58,6647,6034.0,8801.0,13428.0,250.0,242,21,308.0,91
2,03-07-2022,61,6708,4371.0,9248.0,5710.0,408.0,110,13,314.0,96
3,04-07-2022,23,6731,6766.0,8963.0,9218.0,605.0,418,17,315.0,101
4,05-07-2022,86,6817,4442.0,7108.0,19627.0,68.0,490,29,319.0,104

In [2]:
#Check type
data.dtypes

Date                  object
Daily_followers        int64
Total_followers        int64
Posts_reach          float64
Stories_reach        float64
Impressions          float64
Clicks               float64
Likes                  int64
Direct Messages        int64
Positive Comments    float64
Negative Comment       int64
dtype: object

In [3]:
#Check nulls values
data.isna().sum()

Date                 0
Daily_followers      0
Total_followers      0
Posts_reach          2
Stories_reach        5
Impressions          1
Clicks               2
Likes                0
Direct Messages      0
Positive Comments    3
Negative Comment     0
dtype: int64

In [4]:
data.nunique()

Date                 184
Daily_followers       73
Total_followers      184
Posts_reach          180
Stories_reach        177
Impressions          183
Clicks               145
Likes                152
Direct Messages       39
Positive Comments    181
Negative Comment     184
dtype: int64

# What are my cleanning actions

Column | Action
-------|-------
Date | Split by Year, month and day
posts_reach | Drop nulls values & Convert into Int
Stories_reach | Drop nulls values & Convert into Int
Impressions | Drop nulls values & Convert into Int
Clicks | Drop nulls values & Convert into Int
Positive Comments | Drop nulls
Columns | Standardize column names
----| -----

In [5]:
# Split date

import datetime

data['Date'] = pd.to_datetime(data['Date'])
data['Day'] = data['Date'].dt.day
data['Week'] = data['Date'].dt.week
data['Month'] = data['Date'].dt.month

C:\Users\Andrea\AppData\Local\Temp\ipykernel_79984\1394846080.py:5: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['Date'] = pd.to_datetime(data['Date'])
C:\Users\Andrea\AppData\Local\Temp\ipykernel_79984\1394846080.py:7: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  data['Week'] = data['Date'].dt.week

In [6]:
# Drop date

data = data.drop(['Date'], axis=1)

In [7]:
# Drop nulls values on Posts_reach column because there a just a few values
data.dropna(subset=['Posts_reach'], inplace=True)

In [8]:
# Drop nulls values on Stories_reach column because there a just a few values
data.dropna(subset=['Stories_reach'], inplace=True)

In [9]:
# Drop nulls values on Impressions column because there a just a few values
data.dropna(subset=['Impressions'], inplace=True)

In [10]:
# Drop nulls values on Clicks column because there a just a few values
data.dropna(subset=['Clicks'], inplace=True)

In [11]:
# Drop nulls values on Positive Comments column because there a just a few values
data.dropna(subset=['Positive Comments'], inplace=True)

In [12]:
#Confirming that is not more nulls values
data.isna().sum()

Daily_followers      0
Total_followers      0
Posts_reach          0
Stories_reach        0
Impressions          0
Clicks               0
Likes                0
Direct Messages      0
Positive Comments    0
Negative Comment     0
Day                  0
Week                 0
Month                0
dtype: int64

In [15]:
# Convert into Int the Impressions and Clicks columns

data['Posts_reach'] = data['Posts_reach'].astype(int)
data['Stories_reach'] = data['Stories_reach'].astype(int)
data['Impressions'] = data['Impressions'].astype(int)
data['Positive Comments'] = data['Positive Comments'].astype(int)
data['Clicks'] = data['Clicks'].astype(int)

In [16]:
#Check is Impressions and Clicks columns are int
data.dtypes

Daily_followers      int64
Total_followers      int64
Posts_reach          int32
Stories_reach        int32
Impressions          int32
Clicks               int32
Likes                int64
Direct Messages      int64
Positive Comments    int32
Negative Comment     int64
Day                  int64
Week                 int64
Month                int64
dtype: object

In [17]:
#Standardize column names
Data_cols = data.columns.tolist()
New_cols = [column.lower().replace(' ', '_') for column in Data_cols]
data.columns = New_cols

print(data.columns)

Index(['daily_followers', 'total_followers', 'posts_reach', 'stories_reach',
       'impressions', 'clicks', 'likes', 'direct_messages',
       'positive_comments', 'negative_comment', 'day', 'week', 'month'],
      dtype='object')

In [18]:
data

,daily_followers,total_followers,posts_reach,stories_reach,impressions,clicks,likes,direct_messages,positive_comments,negative_comment,day,week,month
0,59,6589,4124,9596,11014,485,199,8,285,87,7,1,1
1,58,6647,6034,8801,13428,250,242,21,308,91,7,6,2
2,61,6708,4371,9248,5710,408,110,13,314,96,7,10,3
3,23,6731,6766,8963,9218,605,418,17,315,101,7,14,4
4,86,6817,4442,7108,19627,68,490,29,319,104,7,18,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,102,17571,1436,6474,10260,316,301,8,3545,625,27,52,12
180,101,17672,5156,698,17525,295,522,16,3552,630,28,52,12
181,34,17706,8488,8666,3909,249,300,12,3577,634,29,52,12
182,61,17767,1495,8902,15276,384,533,40,3599,636,30,52,12
183,65,17832,5773,3985,6344,566,211,19,3603,639,31,52,12

In [20]:
#save my new database

data.to_csv('LIA _Instagram _statistics_clean.csv', index=False)

# CONNECT MYSQL TO THE DATABASE

In [21]:
import pymysql                        
from sqlalchemy import create_engine  
from getpass import getpass

In [22]:
password = getpass()

········

In [23]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/lia_insta'
engine = create_engine(connection_string)

In [24]:
data.to_sql(name = 'lia_insta', con = engine, if_exists = 'replace', index = False)

171