In [12]:
import pandas as pd
import numpy as np

data = pd.read_csv('LIA - Email MKT.csv')
display(data.shape)
data.head()

(1018, 10)

,Email_ID,Email_Type,Subject_Hotness_Score,Email_Source_Type,Customer_Location,Email_Campaign_Type,Total_Past_Communications,Time_Email_sent_Category,Total_Links,Total_Images
0,EMA00081000168000,1,0.3,2,Zacatecas,3,42.0,2,14.0,0.0
1,EMA00081000187610,1,1.3,2,Monterrey,2,32.0,1,26.0,11.0
2,EMA00081000244770,2,0.0,1,Veracruz,3,21.0,1,8.0,2.0
3,EMA00081000245260,1,2.3,1,Aguascalientes,2,25.0,3,9.0,5.0
4,EMA00081000264690,1,1.2,2,Ciudad de México,2,30.0,2,31.0,14.0

In [13]:
#Check type
data.dtypes

Email_ID                      object
Email_Type                     int64
Subject_Hotness_Score        float64
Email_Source_Type              int64
Customer_Location             object
Email_Campaign_Type            int64
Total_Past_Communications    float64
Time_Email_sent_Category       int64
Total_Links                  float64
Total_Images                 float64
dtype: object

In [14]:
#Check nulls values
data.isna().sum()

Email_ID                       0
Email_Type                     0
Subject_Hotness_Score          0
Email_Source_Type              0
Customer_Location              0
Email_Campaign_Type            0
Total_Past_Communications    114
Time_Email_sent_Category       0
Total_Links                   30
Total_Images                  24
dtype: int64

In [15]:
data.nunique()

Email_ID                     1018
Email_Type                      2
Subject_Hotness_Score          44
Email_Source_Type               2
Customer_Location              10
Email_Campaign_Type             3
Total_Past_Communications      58
Time_Email_sent_Category        3
Total_Links                    27
Total_Images                   31
dtype: int64

# What are my cleanning actions

Column | Action
-------|-------
Total_Past_Communications | Convert into Int
Total_Past_Communications | Fill nulls values
Total_Links | Convert into Int
Total_Images  | Convert into Int
Columns | Standardize column names
----| -----

In [16]:
import pandas as pd

def Product_price_fill(x):
    if pd.isna(x):
        return 1 
    else:
        return x

data['Total_Past_Communications'] = data['Total_Past_Communications'].apply(Product_price_fill)

In [17]:
# Convert results into INT
data['Total_Past_Communications'] = data['Total_Past_Communications'].astype(int)

In [18]:
# Convert results into INT
data['Total_Links'] = data['Total_Links'].replace([np.inf, -np.inf, np.nan], -1)
data['Total_Links'] = data['Total_Links'].astype(int)

In [19]:
# Convert results into INT

data['Total_Images'] = data['Total_Images'].replace([np.inf, -np.inf, np.nan], -1)
data['Total_Images'] = data['Total_Images'].astype(int)

In [20]:
#Standardize column names
Data_cols = data.columns.tolist()
New_cols = [column.lower().replace(' ', '_') for column in Data_cols]
data.columns = New_cols

print(data.columns)

Index(['email_id', 'email_type', 'subject_hotness_score', 'email_source_type',
       'customer_location', 'email_campaign_type', 'total_past_communications',
       'time_email_sent_category', 'total_links', 'total_images'],
      dtype='object')

In [21]:
data

,email_id,email_type,subject_hotness_score,email_source_type,customer_location,email_campaign_type,total_past_communications,time_email_sent_category,total_links,total_images
0,EMA00081000168000,1,0.3,2,Zacatecas,3,42,2,14,0
1,EMA00081000187610,1,1.3,2,Monterrey,2,32,1,26,11
2,EMA00081000244770,2,0.0,1,Veracruz,3,21,1,8,2
3,EMA00081000245260,1,2.3,1,Aguascalientes,2,25,3,9,5
4,EMA00081000264690,1,1.2,2,Ciudad de México,2,30,2,31,14
...,...,...,...,...,...,...,...,...,...,...
1013,EMA00081131988850,1,0.2,2,Guadalajara,3,40,2,14,2
1014,EMA00081132137660,2,0.2,1,Aguascalientes,2,47,2,5,0
1015,EMA00081132137910,1,1.9,2,Aguascalientes,2,19,3,6,0
1016,EMA00081132288370,2,0.1,2,Ciudad de México,1,0,2,1,0
1017,EMA00081132438440,1,2.1,2,San Luis,2,18,2,6,3

In [22]:
#save my new database

data.to_csv('LIA_Email_MKT_clean.csv', index=False)

# CONNECT MYSQL TO THE DATABASE

In [23]:
import pymysql                        
from sqlalchemy import create_engine  
from getpass import getpass

In [24]:
password = getpass()

········

In [25]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/lia_email'
engine = create_engine(connection_string)

In [26]:
data.to_sql(name = 'lia_email', con = engine, if_exists = 'replace', index = False)

1018